.container{
}

.header-content{


}

.content{
  position:static;

}


.nav-content{
  text-align: center;
}

.aside-content{
  float: left;
}

.article-content{
  float: right;
}

.footer-content{
 text-align: center;
 align-items: center;
 position: absolute;
 bottom: 1px;

}