.container{
  height:700px;
}

.container2{
  height: 570px;
}

header{
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
  color: #ffffff;
  text-align: right;
 height:25%;
}



body{
  background-image: url("bg.jpeg");
}


nav{
  margin: 0;
  padding: 0;
  height: 50px;
  list-style-type: none;
  display: block;
  background-color:gray;
  text-align: center;
  font-weight: bolder;
}

nav > ul > li{
  display:inline-block;

  }

nav > ul >li > a:hover{
  color: white;
  background-color:black;
  padding: 0.5em 0.5em;

}

nav > ul >li > a:link{
  background-color: darkgray;
  color: black;
  padding: 0.5em 0.5em;

}


aside{
  height: 560px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  border: solid;
  border-color: black;
  float: left;
  width: 16%;
  background-color: gray;

}

article{
  height: 560px;
  padding-left: 30px;
  padding-right: 30px;
  border: solid;
  border-color: white;
  color:white;
  background-color: black;
  float: right;
  width: 75%;

}

footer{
  color: white;
  font-size: 6px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 1px;
  
}